<h1 class="page-header">Report</h1>
<div class="row">
	<div class="col-sm-4">
		<div class="panel panel-info">
			<!-- Default panel contents -->
			<div class="panel-heading">Summary by city</div>
			<div class="panel-body">
				<p></p>
			</div>

			<!-- Table -->
			<table class="table table-condensed">
				<tr>
					<th>City</th>
					<th>Total</th>
				</tr>
				<% @sumbycity.each do |city| %>
				<tr>
					<td><%= city.city %></td>
					<td><%= city.total %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>